{% extends 'base.html' %}
{% load static %}

{% block title %}
Tentang Kami - Lapangin
{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
<div class="mt-40 w-full min-h-screen">
    <div class="max-w-[70%] mx-auto">
        <div class="text-center mb-5 ">
            <h1 class="display-4 fw-bold text-3xl font-bold text-[#0062FF] mb-2">Tentang Kami</h1>
            <p class="lead text-muted">Mengenal tim di balik platform booking stadium Lapangin.</p>
        </div>
    
        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <h2 class="text-2xl font-semibold mb-1">Tujuan</h2>
                <p>Situs ini dibuat untuk Proyek Tengah Semester PBP 2025/2026 Ganjil Kelompok E10 </p>
            </div>
        </div>

        <div>
            <h2 class="text-2xl font-semibold mb-1">Anggota: </h2>
            <ul>
                <li>
                    Prasetya Surya Syahputra
                </li>
                <li>
                    Rheina Adinda Morani Sinurat
                </li>
                <li>
                    Muhammad Fadhlurrohman Pasya
                </li>
                <li>
                    Angga Ziaurrohchman
                </li>
                <li>
                    Muhammad Tristan Malik Anbiya
                </li>
            </ul>
        </div>


    </div>

</div>
{% endblock content %}